/* Estilo general para Ética */
body {
    background-color: #f4f4f9; /* Suave gris claro */
    font-family: Arial, sans-serif;
}

h1 {
    color: #4e342e; /* Marrón oscuro */
}

/* Estilo para el acordeón */
.accordion-header {
    background-color: #6d4c41; /* Marrón chocolate */
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 3rem;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #8d6e63; /* Marrón suave */
    border: none;
}

.accordion-body {
    background-color: #fff; /* Fondo blanco */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 5px;
    padding: 15px;
    color: #424242; /* Gris oscuro */
}

/* Estilo para las imágenes de los temas */
.tema-imagen {
    background-size: cover;
    background-position: center;
    height: 400px;
    border-radius: 5px;
    border: 2px solid #8d6e63; /* Borde marrón suave */
    margin-bottom: 15px;
}

/* Estilo para los enlaces "Saber más" */
.subtema-mas {
    font-size: 1.2rem;
    color: #558b2f; /* Verde olivo */
    cursor: pointer;
}

.subtema-mas:hover {
    text-decoration: underline;
    color: #33691e; /* Verde más oscuro */
}

/* Estilo para información desplegable */
.subtema-info {
    display: none;
    margin-top: 10px;
    font-size: 1.2rem;
    color: #616161; /* Gris medio */
    border-left: 3px solid #8d6e63; /* Línea indicativa marrón */
    padding-left: 10px;
}